doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
doctype html
html
  head
    title= pageTitle
    meta(charset="UTF-8")
    // 其他头部元素和样式表等
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    // 页面内容
    main

    // 底部页脚
    footer
